body {
    font-family: 'Montserrat', sans-serif !important;
    overflow-x: hidden !important;
    margin-bottom: 0 auto !important;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0 !important;
}

a {
  text-decoration: none !important;
}

/* Custom buttons  */
button.btn-tranparent {
    border-radius: 11px;
    border: 1px solid #17C2EC;
    background-color: #c4c4c42e;
    color: #17C2EC;
    font-size: 16px;
}

button.btn-skyBlue {
    border-radius: 11px;
    border: 1px solid #17C2EC;
    background-color: #17C2EC;
    color: white;
    font-size: 16px;
}

.bg-img-1 {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    padding: 25px 0;
}

.header .logo {
    border-bottom: 2px solid #17C2EC;
    width: 60px;
}

.header .logo a {
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.header .pages ul {
    display: flex;
    list-style: none;
}

.header .pages ul li {
    padding-left: 22px;
}

.header .pages ul li a {
    position: relative;
    color: #ccc;
    font-size: 16px;
    transition: color 0.3s;
}

.header .pages ul li a:hover {
    color: white;
}

.header .pages ul li a.active {
    color: white;
    font-weight: 600;
}

.header .pages ul li a.active::after, .header .pages ul li a:hover::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -12px;
    width: 8px;
    height: 8px;
    background: #00bfff;
    border-radius: 50%;
}

.banner {
    padding-top: 35px;
}

.banner .banner-connent p {
    color: #17C2EC;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 35px;
}

.banner .banner-connent h2 {
    width: 74%;
    color: white;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.2;
    padding-bottom: 35px;
}

.banner .banner-connent span{
    color: #17C2EC;
}

.banner .banner-connent p.text {
    color: white;
    font-size: 16px;
    font-weight: 500;
    width: 75%;
    padding-bottom: 25px;
}

.banner .banner-img img {
    width: 100%;
    height: 65vh;
    object-fit: cover;
    object-position: center;
}

.banner .doctors {
    border: 15px solid #c4c4c426;
    background-color: #c4c4c426;
    border-radius: 15px;
    width: 55%;
    box-shadow: 6px 8px #00000069;
    position: relative;
    bottom: 30px;
}

.banner .doctors ul {
    display: flex;
    list-style: none;
    padding-left: 0px;
}

.banner .doctors img {
    width: 44px;
    height: 44px;
    object-fit: cover;
    object-position: center;
}

.banner .doctors p {
    padding-left: 15px;
    font-size: 18px;
    color: #00bfff;
    font-weight: 700;
    line-height: 1.1;
}

.banner .schedule .heading p {
    color: white;
    font-size: 17px;
    font-weight: 500;
}

.banner .schedule .heading i {
    color: #17C2EC;
    border: 1px solid #c4c4c426;
    background-color: #c4c4c426;
    border-radius: 8px;
    padding: 7px;
    font-size: 17px;
    margin-right: 6px;
}

.banner .schedule .location {
    margin-top: 20px;
    border: 20px solid #c4c4c426;
    background-color: #c4c4c426;
    border-radius: 18px 18px 0 0;
}

.banner .schedule .item {
    display: flex;
    align-items: center;
}

.banner .schedule .item i {
    color: #17C2EC;
    border: 1px solid #c4c4c426;
    background-color: #c4c4c426;
    border-radius: 8px;
    padding: 7px;
    font-size: 17px;
    margin-right: 15px;
}

.banner .schedule .item p {
    color: white;
    font-size: 17px;
}

.banner .schedule .item p.labl {
    color: #ffffff75;
    font-size: 16px;
}

.companies {
   padding: 20px 0;
}

.companies img {
    width: 15%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.bg-img-2 {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.check-form {
    padding: 35px 0;
}

.check-form .head {
    background-color: #c4c4c44f;
    padding: 20px 100px;
    border-radius: 12px 12px 0 0;
}

.check-form .head p {

}

.check-form form {
    background-color: #c4c4c426;
    padding: 20px 100px;
    border-radius: 0 0 12px 12px;
}
.check-form .head p {

}
.check-form .head p {

}
.check-form .head p {

}
